* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

/* Estilo para el header */
header {
    background-color: #000; 
    padding: 0.9375rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.logo-container {
    flex: 1;
}

.logo-link {
    display: inline-block;
}

.logo {
    width: 9.375rem;
    height: auto;
}

.categorias-links {
    flex: 2;
    text-align: center;
}

.categorias-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.categorias-list li {
    margin: 0 1.25rem;
}

.categorias-list a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icon-link {
    margin-left: 1.25rem;
    display: inline-block;
}

.header-icon {
    width: 1.5rem;
    height: auto;
}

/* Estilo para el main */
main {
    padding: 1.875rem 1.25rem;
}

.products h2 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    text-align: center;
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */    
    gap: 1.25rem;
    justify-items: center;
    margin-top: 1.25rem;
}

.product-item {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); /* Sombreado centrado alrededor del elemento con desefoque 0.625rem y opacidad de 10% */
    text-align: center;
    transition: transform 0.3s ease; 
    aspect-ratio: 1; /* El ancho y el alto sea igual */
    height: 100%;
}

.product-item:hover {
    transform: translateY(-0.3125rem); /* desplazamiento hacia arriba */
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    max-width: 12.5rem;
    margin-bottom: 0.625rem;
}

.product-item h3 {
    font-size: 1.125rem;
    margin-top: 0.625rem;
    color: #333;
}

.product-item p {
    font-size: 1rem;
    color: #666;
    margin-top: 0.3125rem;
}

.product-item button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    margin-top: 0.625rem;
    transition: background-color 0.3s;
}

.product-item button:hover {
    background-color: #0056b3;
}

/* Estilo para el footer */
footer {
    background-color: #000; 
    color: #fff;
    padding: 1.25rem 0;
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
}

.footer-cont {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.footer-info h4 {
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul li {
    margin-bottom: 0.625rem;
}

.footer-info ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
}

/* Media Queries para Responsividad */
/* Media para móviles */
@media only screen and (max-width: 47.6875rem) {
    .header-container {
        flex-direction: column; /* Organiza los elementos del header en columna */
        text-align: center; /* Centra los elementos del header */
    }
    .logo {
        width: 7.5rem; /* Reduce el tamaño del logo para móviles */
    }
    .categorias-list {
        flex-direction: column; /* Lista de categorías en columna */
        margin-top: 0.625rem;
    }
    .header-icons {
        justify-content: center; /* Centra los íconos */
    }
    .product-grid {
        grid-template-columns: 1fr; /* Solo una columna para los productos */
    }
    .product-item {
        width: 90%; /* Ajusta el tamaño de los productos */
        margin: 0 auto; /* Centra los productos */
    }
    .products h2 {
        font-size: 1.375rem; /* Reduce el tamaño del título */
    }
    footer {
        padding: 0.625rem 0; /* Reduce el padding en el footer */
    }
}

/* Media para tablets */
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
    .header-container {
        padding: 0 0.9375rem; /* Reduce el espacio en los laterales */
    }
    .categorias-list {
        font-size: 1rem; /* Ajusta el tamaño de las categorías */
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para productos */
    }
    .product-item {
        width: 95%; /* Ajusta el tamaño de los productos */
    }
    .products h2 {
        font-size: 1.625rem; /* Ajusta el tamaño del título */
    }
}

/* Media para ordenadores pequeños */
@media only screen and (min-width: 62rem) and (max-width: 74.9375rem) {
    .header-container {
        padding: 0 1.875rem; /* Mayor espacio en los laterales */
    }
    .categorias-list {
        font-size: 1.125rem; /* Ajusta el tamaño de las categorías */
    }
    .product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para productos */
    }
    .product-item {
        width: 100%; /* Ocupa el 100% del espacio disponible */
    }
    .products h2 {
        font-size: 1.75rem; /* Ajusta el tamaño del título */
    }
}

/* Media para ordenadores de escritorio grandes */
@media only screen and (min-width: 75rem) {
    .header-container {
        max-width: 75rem; /* Limita el ancho máximo del header */
    }
    .categorias-list {
        font-size: 1.25rem; /* Aumenta el tamaño de las categorías */
    }
    .product-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas para productos */
    }
    .product-item {
        width: 100%; /* Los productos ocupan todo el ancho */
    }
    .products h2 {
        font-size: 2rem; /* Ajusta el tamaño del título */
    }
}
