* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
/* Estilo para el header */
header {
    background-color: #000; 
    padding: 0.9375rem 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.logo-container {
    flex: 1;
}

.logo-link {
    display: inline-block;
}

.logo {
    width: 9.375rem;
    height: auto;
}

.categorias-links {
    flex: 2;
    text-align: center;
}

.categorias-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.categorias-list li {
    margin: 0 1.25rem;
}

.categorias-list a {
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icon-link {
    margin-left: 1.25rem;
    display: inline-block;
}

.header-icon {
    width: 1.5rem;
    height: auto;
}

/* Estilo para el main */
main {
    padding: 5rem;
    max-width: 56.25rem;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    min-height: 31.25rem;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea, button {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el footer */
footer {
    background-color: #000; 
    color: #fff;
    padding: 1.25rem 0;
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
}

.footer-cont {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.footer-info h4 {
    font-size: 1.125rem;
    margin-bottom: 0.9375rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info ul li {
    margin-bottom: 0.625rem;
}

.footer-info ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
}

/* Media Queries para Responsividad */

/* Media para móviles */
@media only screen and (max-width: 47.6875rem) {
    .header-container {
        flex-direction: column; /* Organiza los elementos del header en columna */
        text-align: center;
    }
    .logo {
        width: 7.5rem; /* Ajusta el tamaño del logo para móviles */
    }
    .categorias-list {
        flex-direction: column; /* Lista de categorías en columna */
        margin-top: 0.625rem;
    }
    .header-icons {
        justify-content: center; /* Centra los íconos */
    }
    main {
        padding: 2rem; /* Reduce el padding para pantallas pequeñas */
        width: 100%; /* Ocupa todo el ancho */
        min-height: 25rem; /* Ajusta la altura mínima */
    }
}

/* Media para tablets */
@media only screen and (min-width: 48rem) and (max-width: 61.9375rem) {
    .header-container {
        padding: 0 0.9375rem; /* Reduce el espacio en los laterales */
    }
    .categorias-list {
        font-size: 1rem; /* Ajusta el tamaño de las categorías */
    }
    main {
        padding: 3rem; /* Aumenta el padding para pantallas más grandes */
        width: 90%; /* Ajusta el ancho para ocupar más espacio */
    }
}

/* Media para ordenadores pequeños */
@media only screen and (min-width: 62rem) and (max-width: 74.9375rem) {
    .header-container {
        padding: 0 1.875rem; /* Espaciado más amplio en pantallas más grandes */
    }
    .categorias-list {
        font-size: 1.125rem; /* Ajusta el tamaño de las categorías */
    }
    main {
        padding: 4rem; /* Ajusta el padding */
        width: 85%; /* Reduce un poco el ancho */
    }
}

/* Media para ordenadores de escritorio grandes */
@media only screen and (min-width: 75rem) {
    .header-container {
        max-width: 75rem; /* Limita el ancho máximo del header */
    }
    .categorias-list {
        font-size: 1.25rem; /* Aumenta el tamaño de las categorías */
    }
    main {
        padding: 5rem; /* Espaciado amplio para pantallas grandes */
        width: 75%; /* Ancho reducido para mantener proporciones adecuadas */
    }
}
